<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <springProfile name="local, test">
        <include resource="logger/base-appender.xml"/>

        <root level="info">
            <appender-ref ref="BASE_APPENDER"/>
        </root>
    </springProfile>

    <springProfile name="prod, dev">
        <include resource="logger/json-appender.xml"/>
        <include resource="logger/async-wrapper.xml"/>

        <property name="ROOT_DELEGATE" value="JSON_APPENDER"/>

        <root level="info">
            <appender-ref ref="ASYNC_WRAPPER"/>
        </root>
    </springProfile>
</configuration>
