name: Pull Request CI TEST

on:
  pull_request:
    branches: [ "main", "dev" ]

permissions:
  checks: write
  pull-requests: write

jobs:
  ci-test:
    runs-on: ubuntu-latest

    steps:
      - name: λ¦¬ν¬μ§€ν† λ¦¬ μ²΄ν¬μ•„μ›ƒ
        uses: actions/checkout@v2

      - name: JDK 17 λ²„μ „ μ„¤μΉ
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Gradle μΊμ‹±
        uses: actions/cache@v4
        id: cache-gradle
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Docker Compose μ„¤μΉ
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: ν…μ¤νΈ μΈν”„λΌ ν™κ²½ κµ¬μ¶•
        run: |
          docker-compose -f ./docker/docker-compose.yml up -d
          for i in {1..15}; do
            docker exec mysql8-local mysqladmin ping -h 127.0.0.1 --silent && \
            nc -zv 127.0.0.1 6379 && \
            echo "ν…μ¤νΈ μΈν”„λΌ ν™κ²½ κµ¬μ¶• μ™„λ£." && exit 0
            echo "μΈν”„λΌ μ‹¤ν–‰ λ€κΈ°μ¤‘... ($i)"
            sleep 1
          done
          echo "ν…μ¤νΈ μΈν”„λΌ ν™κ²½ κµ¬μ¶•μ— μ‹¤ν¨." && exit 1

      - name: Gradle μ‹¤ν–‰ κ¶ν• μ„¤μ •
        run: chmod +x ./gradlew

      - name: ν…μ¤νΈ ν™κ²½λ³€μ μ„¤μ •
        run: |
          echo "${{ secrets.SPRING_ENV }}" | base64 -d > bootstrap/api/src/main/resources/.env

      - name: ν…μ¤νΈ μ‹¤ν–‰
        run: |
          ./gradlew --info test

      - name: ν…μ¤νΈ κ²°κ³Ό
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          junit_files: "build/test-results/test/**/*.xml"

  discord-web-hook:
    runs-on: ubuntu-latest
    needs: ci-test
    if: failure()

    steps:
      - name: λ””μ¤μ½”λ“ μ•λ¦Ό λ°μ†΅
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: |
          PR_NUMBER="${{ github.event.pull_request.number }}"
          PR_TITLE="${{ github.event.pull_request.title }}"
          PR_URL="${{ github.event.pull_request.html_url }}"
          SENDER_NAME="${{ github.event.sender.login }}"
          SENDER_AVATAR="${{ github.event.sender.avatar_url }}"

          JSON_PAYLOAD=$(jq -n \
            --arg content "**π¨ PULL REQUEST CI TEST FAIL (<@&${{ secrets.DISCORD_MENTION_ID }}>) π¨**" \
            --arg title "${PR_TITLE}#${PR_NUMBER}" \
            --arg description "${PR_TITLE} (#${PR_NUMBER})μ ν…μ¤νΈκ°€ μ‹¤ν¨ν–μµλ‹λ‹¤." \
            --arg url "${PR_URL}" \
            --arg username "${SENDER_NAME}" \
            --arg avatar_url "${SENDER_AVATAR}" \
            --argjson color 1376000 \
            '{
              content: $content,
              embeds: [
                {
                  title: $title,
                  description: $description,
                  url: $url,
                  color: $color
                }
              ],
              username: $username,
              avatar_url: $avatar_url
            }'
          )
          
          curl -X POST \
            -H "Content-Type: application/json" \
            -d "${JSON_PAYLOAD}" \
            "$DISCORD_WEBHOOK_URL"
